# Sanity CMS Configuration
NEXT_PUBLIC_SANITY_PROJECT_ID=xxxxxxx
NEXT_PUBLIC_SANITY_DATASET=sandbox

# Domain Configuration for i18n
# For local development, use .local domains
# For production, use your actual domain names
NEXT_PUBLIC_EN_DOMAIN=en.school.local
NEXT_PUBLIC_CZ_DOMAIN=cz.school.local

NEXT_PUBLIC_MAPTILER_API_KEY=your_maptiler_api_key_here
