# Sanity CMS Configuration
SANITY_STUDIO_PROJECT_Name="MyProject"
SANITY_STUDIO_PROJECT_ID=your_project_id_here
SANITY_STUDIO_DATASET=sandbox
SANITY_STUDIO_API_TOKEN=your_editor_token
SANITY_STUDIO_API_VERSION=2025-11-01 # For example
SANITY_STUDIO_GOOGLE_MAPS_API_KEY=your_google_maps_api_key_here
SANITY_STUDIO_API_MAPTILER_API_KEY=your_maptiler_api_key_here